.App {
  text-align: center;
}
@keyframes animateleft{
  from{left:-300px;opacity:0} to{left:0;opacity:1}}

#header{
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
}
#navbar {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 30;
  animation:animateleft 0.4s
}

#navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#navbar li a.active {
  background-color: #4CAF50;
  color: white;
}

#navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
#map{
  background-color:peachpuff;
  display: inline-block;
  position:relative;
  overflow:hidden;
  height: 88vh;
  width: 100vw;
}
#syn{
  margin : 0 5rem;
  font-size: smaller;
  color: rgb(168, 168, 168);
}
#empty{
  width: 90%;
  position:absolute;
  left:30px;
  top:30px;
}

#Block:hover{
  background-color: rgb(235, 235, 255);
}

#Block {
  z-index: 10;
  background-color: rgb(202, 220, 255);
  position:absolute;
  border : 2px black solid;
  border-radius: 10px;
  padding: 0 4px;
}
svg{
  position: absolute;
  stroke-width:2
}
#menu{
  z-index: 20;
  list-style-type: none;
  border : 1px solid black;
  background-color:pink;
  position:absolute;
  margin:0px;
  padding:0px;
}
#menu li{
  font-size: smaller;
  padding : 4px 8px;
  border-bottom: 1px solid black;
}
#menu li:hover{
  background-color:plum;
}
#menu li:last-child{
  border-bottom: none;
}
input{
  z-index: 20;
  background-color: lightgray;
  border : 2px gray solid;
  border-radius: 10px;
}

